@import "tailwindcss";

html {
  scroll-behavior: smooth;
};

.glow-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background: radial-gradient(
    circle at 30% 30%,
    rgba(106, 169, 199, 0.15),
    transparent 60%
  );

  filter: blur(120px);
}